h3{
    font-size:25px;
}

.btn-primary:hover{
    animation: a 7s ease-in-out infinite;
}




canvas{
    animation: b 5s infinite;
}

@keyframes b{
0%{
   box-shadow : 0px 0px 25px red;
}

    14.2%{
        box-shadow : 0px 0px 25px orange;

}
28.4%{
    box-shadow : 0px 0px 25px yellow;

}
42.6%{
    box-shadow : 0px 0px 25px greenyellow;

}
56.8%{
    box-shadow : 0px 0px 25px lightskyblue;

}
71%{
    box-shadow : 0px 0px 25px blue;

}
85.2%{
    box-shadow : 0px 0px 25px purple;

}
100%{
    box-shadow : 0px 0px 25px red;

}
}

@keyframes a{
    0%{
      background-color: red;
    }
    
        14.2%{
            background-color: orange;
    
    }
    28.4%{
        background-color: yellow;
    
    }
    42.6%{
        background-color: greenyellow;
    
    }
    56.8%{
        background-color: lightskyblue;
    
    }
    71%{
        background-color: blue;
    
    }
    85.2%{
        background-color: purple;
    
    }
    100%{
        background-color: red;
    
    }
    }

input{
    width:300px;
}